<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trang cá nhân</title>
  </head>
  <body>
    <h2>{{username}}</h2>
    <a href="{{url_for("logout")}}">Đăng xuất</a>
    <br>
    <a href="{{url_for("index")}}">Trở lại trang chủ</a>
    {% if missions_uncompleted %}
    <a href="{{url_for("mission_detail")}}">Chi tiết nhiệm vụ hiện tại</a>
    {% elif num_missions_unprocessed > 0 %}
    <a href="{{url_for("save_album",save = 1)}}">Lưu lại 7 nhiệm vụ đã thực hiện vào thư viện chung</a>
    <br>
    <a href="{{url_for("save_album",save = 0)}}">Không lưu 7 nhiệm vụ đã thực hiện vào thư viện chung</a>
    {% else %}
    <a href="{{url_for("continue_challenge")}}">Đăng ký thêm nhiệm vụ</a>
    {% endif %}

    <h3>Danh sách nhiệm vụ đã hoàn thành</h3>
    {% for mission_completed in missions_completed %}
      <p>Tên nhiệm vụ: {{mission_completed.mission.mission_name}}</p>
      <p>Ảnh nhiệm vụ: </p>
      <div style="width:200px; height:200px">
        <img src="data:image/jpg;base64,{{mission_completed.image}}" alt="not found" style="width: 100%; height:100%">
      </div>

      <p>Caption:{{mission_completed.caption}} </p>
      <br>
      <hr>
    {% endfor%}
  </body>
</html>
